/* Ratings Component Styles */

.bg-yellow-400 {
  background-color: #facc15;
}

.bg-yellow-100 {
  background-color: #fef08a;
}

.text-yellow-400 {
  color: #facc15;
}

.text-yellow-800 {
  color: #713f12;
}

.bg-orange-100 {
  background-color: #fed7aa;
}

.text-orange-800 {
  color: #92400e;
}

.bg-red-100 {
  background-color: #fee2e2;
}

.text-red-800 {
  color: #991b1b;
}

.bg-green-100 {
  background-color: #dcfce7;
}

.text-green-800 {
  color: #166534;
}

/* Star animation */
@keyframes starPulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
